// text section start

section#text-section.section.text-section

	img.text-section__bg(src="img/text-section.png", alt="img")

	.container
		.row

			.col-12.text-center

				h2.text-section__heading Voluntarios

		.row

			.col-lg-8.offset-lg-4.col-xl-7.offset-xl-4

				h3.text-section__title Hagamos la diferencia #[br] contribuyendo a la causa.
				p unete a nuestro esfuerzo de llevar esperanza a miles de consumidores, pacientes, profesionales, padres y madres que luchan a diario por sus derechos a acceder a la planta.
				a.button.button--primary(href="#") Conviértete en voluntario

// text section end