// blog start

section#news.section.news

	.container
		.row.margin-bottom

			.col-12

				.heading.heading--primary.heading--center
					span.heading__pre-title Latest Articles 
					h2.heading__title.no-margin-bottom #[span CannaReD] #[span Blog]

		.row.offset-margin#newsContainer(style="margin-bottom: 30px;")

		.row.margin-bottom

			.col-12

				.heading.heading--primary.heading--center
					a.button.button--primary(href="https://medium.com/@cannared" target="_blank") Ver todos los Articulos

section#news.section.docs

	.container
		.row.margin-bottom

			.col-12

				.heading.heading--primary.heading--center
					span.heading__pre-title Latest Docs 
					h2.heading__title.no-margin-bottom #[span CannaReD] #[span Documentos]

		.row.offset-margin#newsContainer(style="margin-bottom: 30px;")

		.row.margin-bottom

			.col-md-6.col-lg-5.col-xl-4

				.blog-item.blog-item--style-1
					.blog-item__img
						img.img--bg(src="img/doc_1.png", alt="img")
						span.blog-item__badge(style="background-color: #49C2DF;") Docs
					.blog-item__content
						h6.blog-item__title
							a(href="https://drive.google.com/file/d/1-QNeXiaE3rMyuJDH_peHMNfDPjD-zzuG/view" target="_blank") Iniciativa para la Fiscalización y Despenalización del Cannabis Medicinal en la República Dominicana
						a(href="https://drive.google.com/file/d/1-QNeXiaE3rMyuJDH_peHMNfDPjD-zzuG/view" target="_blank") 
							h6 Ver Documento

			.col-12

				.heading.heading--primary.heading--center
					a.button.button--primary(href="https://drive.google.com/file/d/1-QNeXiaE3rMyuJDH_peHMNfDPjD-zzuG/view?usp=share_link" target="_blank") Ver todos los Documentos