// subscribe start

section.subscribe
	.container
		.row.align-items-end

			.col-lg-6

				h2.subscribe__title Síguenos en las Redes.

			.col-lg-6

				.heading.heading--primary
					// span.heading__pre-title Testimonios
					h2.subscribe__title @CannaReDrd

				// form.subscribe-form(action="javascript:void(0);")
					input.subscribe-form__input(type="email" name="email" placeholder="Enter your E-mail" required)
					input.subscribe-form__submit(type="submit" value="Envia")

// subscribe end