// instagram start

section.section.instagram.no-padding-bottom
	.container
		.row.align-items-end.margin-bottom

			.col-md-7.col-lg-8
				
				.heading.heading--primary
					span.heading__pre-title CannaReD
					h2.heading__title.no-margin-bottom 📺 #[span Videos]

			.col-md-5.col-lg-4.text-md-right

				// slider nav start
				.slider__nav.instagram-slider__nav
					.slider__arrows
						.slider__prev
							+fa('chevron-left')
						.slider__next
							+fa('chevron-right')
				// slider nav end

	.instagram-slider
	
		a.instagram-slider__item(href="https://www.youtube.com/watch?v=En4A_6eOg_A&t=1784s" target="_blank")
			img.img--bg(src="https://i.ytimg.com/vi/En4A_6eOg_A/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLD-e_XsyyNAWASrh7O0tN5BgfaBGw", alt="img")
			span.instagram-slider__icon
				+fa('youtube')
			span.instagram-slider__icon-hover
				+fa('youtube')

		a.instagram-slider__item(href="https://www.youtube.com/watch?v=OGzxOdEOBs0" target="_blank")
			img.img--bg(src="https://i.ytimg.com/vi/OGzxOdEOBs0/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLB7Fy48-AHticFPUbAcjsz2RZ_i9g", alt="img")
			span.instagram-slider__icon
				+fa('youtube')
			span.instagram-slider__icon-hover
				+fa('youtube')

		a.instagram-slider__item(href="https://www.youtube.com/watch?v=L3tqj5bpKC4&t=1s" target="_blank")
			img.img--bg(src="https://i.ytimg.com/vi/L3tqj5bpKC4/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLB6h0KOLzyO3AVQW6qR67FdBYvU0Q", alt="img")
			span.instagram-slider__icon
				+fa('youtube')
			span.instagram-slider__icon-hover
				+fa('youtube')

		a.instagram-slider__item(href="https://www.youtube.com/watch?v=fQy_YzqAmo4&t=1341s" target="_blank")
			img.img--bg(src="https://i.ytimg.com/vi/fQy_YzqAmo4/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA3j0W_Bn5KSkRCPfuejXJCK9XZTA", alt="img")
			span.instagram-slider__icon
				+fa('youtube')
			span.instagram-slider__icon-hover
				+fa('youtube')

		a.instagram-slider__item(href="https://www.youtube.com/watch?v=qAPnMhvc6tA&t=1s" target="_blank")
			img.img--bg(src="https://i.ytimg.com/vi/qAPnMhvc6tA/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDOYdz6pXYK_goRosyhLhwd6rYZIg", alt="img")
			span.instagram-slider__icon
				+fa('youtube')
			span.instagram-slider__icon-hover
				+fa('youtube')

		a.instagram-slider__item(href="https://www.youtube.com/watch?v=CXWtiYbRRbk" target="_blank")
			img.img--bg(src="https://i.ytimg.com/vi/CXWtiYbRRbk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDQyWH6t29rbqpIPJimWC7tHCZXow", alt="img")
			span.instagram-slider__icon
				+fa('youtube')
			span.instagram-slider__icon-hover
				+fa('youtube')

		a.instagram-slider__item(href="https://www.youtube.com/watch?v=4vNQVnlh7yg" target="_blank")
			img.img--bg(src="https://i.ytimg.com/vi/4vNQVnlh7yg/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCQTGrMl4Au5a7gipQL_A2b5-LfjQ", alt="img")
			span.instagram-slider__icon
				+fa('youtube')
			span.instagram-slider__icon-hover
				+fa('youtube')
	
// instagram end