// about us style-2 start

section.section.about-us.about-us--style-2.no-padding-top
	.container
		.row.align-items-center
		
			.col-lg-6

				p #[strong Muchos países han dado el gran salto hacia una despenalización y regulación del uso del cannabis en todos los aspectos donde esta planta tiene algo que aportar: desde terapia para manejo de síntomas de muchas enfermedades, materia prima favorable con la preservación del medio ambiente, generación de miles de empleos y aporte a la economía a través de recaudación de impuestos, el Cannabis tiene mucho mas beneficios que muchas otras sustancias de consumo que son de uso legal como el alcohol y el tabaco.]
				p El Cannabis es y seguirá siendo #[strong (hasta que sea legal)] la droga ilegal mas usada en el mundo. Dicha ilegalidad alimenta el flagelo del narcotráfico, la producción informal con riesgos de productos de muy mala calidad con riesgo de poner en peligro la salud de sus consumidores.   
				p Atendiendo a que muchos países ya han dado el salto hacia la #[strong regulación, despenalización y legalización del Cannabis,] la Republica Dominicana, esta en la necesidad de agregarse a esta corriente progresista y humana, ya que dicha ilegalidad es considerada inconstitucional porque viola derechos fundamentales como el libre desarrollo de la personalidad, y violación al derecho de acceso a la salud y bienestar del ser humano.
				p Es por este motivo que hemos apelado a la creación de una organización sin fines de lucro para la educación, desarrollo y reclamo de derechos al acceso a los beneficios del Cannabis en sus cuatro pilares: #[strong Uso Medicinal, uso industrial, uso adulto e investigación científica].

			.col-lg-6.col-xl-5.offset-xl-1

				.about-us__text-aside Nuestra misión

// about us style-2 end