// blog start

section#blog.section.blog

	img.blog__bg(src="img/blog_bg.png", alt="img")

	.container
		.row.margin-bottom

			.col-12

				.heading.heading--primary.heading--center
					span.heading__pre-title News
					h2.heading__title.no-margin-bottom #[span CannaReD] #[span News]

		.row.offset-margin

			.col-md-6.col-lg-5.col-xl-4

				.blog-item.blog-item--style-1
					.blog-item__img
						img.img--bg(src="img/blog_2.png", alt="img")
						span.blog-item__badge(style="background-color: #49C2DF;") Event
					.blog-item__content
						h6.blog-item__title
							a(href="https://youtu.be/qAPnMhvc6tA" target="_blank") Jornada Latinoamericana de Concientización en cannabis de uso medicinal
						p En el 1° aniversario del reconocimiento de las propiedades medicinales del cannabis por parte de la Organización de las Naciones Unidas (ONU), convocamos a un encuentro latinoamericano que busca generar educación, conocimiento y herramientas con alto contenido científico.
						a(href="https://youtu.be/qAPnMhvc6tA" target="_blank") 
							h6 Ver Evento
						.blog-item__details
							span.blog-item__date 02 Dic 21
							span #[+svg('comment')] 17h Republica Dominicanca (AST)

			.col-md-6.col-lg-5.col-xl-4

				.blog-item.blog-item--style-1
					.blog-item__img
						img.img--bg(src="img/el_sol_periodico.png", alt="img")
						span.blog-item__badge(style="background-color: #49C2DF;") News
					.blog-item__content
						h6.blog-item__title
							a(href="https://hoy.com.do/anuncian-la-1ra-jornada-latinoamericana-de-concientizacion-de-cannabis/" target="_blank") Casa Abierta invita a Jornada sobre Cannabis Medicinal
						p En diciembre del pasado año 2020, la ONU reconoció las propiedades medicinales del cannabis, mejor conocido como marihuana.
						a(href="https://elsoldelasamericas.com/2021/11/26/casa-abierta-invita-a-jornada-sobre-cannabis-medicinal/" target="_blank") 
							h6 Ver Articulo
						.blog-item__details
							span.blog-item__date 26 Nov 21

			.col-md-6.col-lg-5.col-xl-4

				.blog-item.blog-item--style-1
					.blog-item__img
						img.img--bg(src="img/hoy-evento.png", alt="img")
						span.blog-item__badge(style="background-color: #49C2DF;") News
					.blog-item__content
						h6.blog-item__title
							a(href="https://hoy.com.do/anuncian-la-1ra-jornada-latinoamericana-de-concientizacion-de-cannabis/" target="_blank") Anuncian la 1ra Jornada Latinoamericana de concientización de cannabis
						p CannaReD República Dominicana y CAMEDA Cannabis Medicinal Argentina, organizan la 1ra Jornada Latinoamericana virtual de Concientización en cannabis de uso medicinal que tendrá lugar el día 2 de Diciembre 17hs (RD), Mexico 16hs ,Chile 18hs , Argentina 18hs. A trasmitir por Zoom, Youtube, Instagram y Facebook.
						a(href="https://hoy.com.do/anuncian-la-1ra-jornada-latinoamericana-de-concientizacion-de-cannabis/" target="_blank") 
							h6 Ver Articulo
						.blog-item__details
							span.blog-item__date 23 Nov 21

			// .col-md-6.col-lg-7.col-xl-8

				.blog-item.blog-item--style-2
					img.img--bg(src="img/blog_2.png", alt="img")
					.blog-item__content
						span.blog-item__badge(style="background-color: #2EC774;") Education
						h6.blog-item__title
							a(href="#") Back to the future: Quality education through respect, commitment and accountability
						p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail
					.blog-item__details
						span.blog-item__date 23 Jan' 19
						span #[+svg('comment')] 501

			// .col-md-6.col-lg-7.col-xl-8

				.blog-item.blog-item--style-2
					img.img--bg(src="img/blog_3.png", alt="img")
					.blog-item__content
						span.blog-item__badge(style="background-color: #F8AC3A;") Food
						h6.blog-item__title
							a(href="#") Condolences to Families Effected By Flash Floods in Setswetla, Alexandra Township, Johannesburg
						p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail
					.blog-item__details
						span.blog-item__date 23 Jan' 19
						span #[+svg('comment')] 501

			// .col-md-6.col-lg-5.col-xl-4

				.blog-item.blog-item--style-1
					.blog-item__img
						img.img--bg(src="img/blog_4.png", alt="img")
						span.blog-item__badge(style="background-color: #F36F8F;") Medicine
					.blog-item__content
						h6.blog-item__title
							a(href="#") Save the Children's Role in Fight Against Malnutrition Hailed
						p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail canthigaster
						.blog-item__details
							span.blog-item__date 23 Jan' 19
							span #[+svg('comment')] 501

// blog end