// icons section start

section.section.icons-section.no-padding-top
	.container
		.row.margin-bottom

			.col-12

				.heading.heading--center
					span.heading__pre-title Servicios
					h2.heading__title #[span ¿Que ofrecemos] #[span en nuestro espacio?]

		.row

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_1-1.png", alt="img")
						svg.icon.icon-item__icon.icon--red
							use(xlink:href="#donation")
					.icon-item__text
						p Información

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_2-2.png", alt="img")
						svg.icon.icon-item__icon.icon--orange
							use(xlink:href="#man")
					.icon-item__text
						p Ayuda

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_3-3.png", alt="img")
						svg.icon.icon-item__icon.icon--green
							use(xlink:href="#charity")
					.icon-item__text
						p Comunidad

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_4-4.png", alt="img")
						svg.icon.icon-item__icon.icon--blue
							use(xlink:href="#donate-1")
					.icon-item__text
						p Donaciones

// icons section end