// about us start

section#about.section.about-us
	.container
		.row.align-items-center

			.col-lg-6

				.heading.heading--primary
					span.heading__pre-title Sobre nosotros
					h2.heading__title #[span Por la Salud] #[span de Todos]

					p #[strong Fundación Red Cannábica es una organización sin fines de lucro que tiene como misión la educación, investigación, desarrollo e impulso de políticas publicas para el acceso a la planta de cannabis para uso medicinal, uso industrial, uso adulto e investigación científica en la República Dominicana.]
					p Somos una comunidad de Dominicanos que buscamos incidir en el proceso regulatorio de la cannabis en Republica Dominicana para el desarrollo y fortalecimiento de la sociedad civil.

				a.button.button--primary(href="about.html") More About

			.col-lg-6.col-xl-5.offset-xl-1
				
				.info-box
					img.img--layout(src="img/about_layout.png" alt="img")
					img.img--bg(src="img/about-us.jpg", alt="img")
					h4.info-box__title Somos un equipo de voluntarios cannabicos
					p Unete a nuestro esfuerzo y contrubuye al cambio en politicas publicas que necesitamos.
					a.anchor.info-box__link(href="#text-section") Conviértete en voluntario

// about us end