// team start

section.section.team
	.container
		.row

			.col-12

				.heading.heading--primary
					span.heading__pre-title Team
					h2.heading__title.no-margin-bottom #[span Conozce] #[span nuestro equipo] 

		.row.margin-bottom

			.col-sm-6.col-lg-4

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="https://www.instagram.com/cultura710rd" target="_blank")
								+fa('instagram')
						li
							a(href="https://do.linkedin.com/in/lester-jose-bonilla-duran-bb811480" target="_blank")
								+fa('linkedin')
					.team-item__img-holder
						img.img--layout(src="img/team_1.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/team_1.jpg", alt="teammate")
					.team-item__description
						.team-item__name Dr. Lester Bonilla
						.team-item__position Presidente
				// iteam end

			.col-sm-6.col-lg-4

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="#" target="_blank")
								+fa('instagram')
						li
							a(href="#" target="_blank")
								+fa('linkedin')
					.team-item__img-holder
						img.img--layout(src="img/team_3.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/team_3.jpg", alt="teammate")
					.team-item__description
						.team-item__name Angel Ernesto Mejia-Ricart Caba
						.team-item__position Vice-Presidente
				// iteam end

			.col-sm-6.col-lg-4

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="https://www.instagram.com/legalizemoslard" target="_blank")
								+fa('instagram')
						li
							a(href="https://it.linkedin.com/in/enzo-vezzaro" target="_blank")
								+fa('linkedin')
					.team-item__img-holder
						img.img--layout(src="img/team_2.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/team_2.jpg", alt="teammate")
					.team-item__description
						.team-item__name Enzo Vezzaro
						.team-item__position Secretario
				// iteam end

			.col-sm-6.col-lg-4

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="https://www.instagram.com/industrialcannabisrd" target="_blank")
								+fa('instagram')
						// li
							a(href="#")
								+fa('twitter')
						// li
							a(href="#")
								+fa('linkedin')
					.team-item__img-holder
						img.img--layout(src="img/team_3.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/team_3.jpg", alt="teammate")
					.team-item__description
						.team-item__name Sergio Diego Sagawe
						.team-item__position Tesorero
				// iteam end

			.col-sm-6.col-lg-4

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="https://www.instagram.com/ricositioofficial" target="_blank")
								+fa('instagram')
						// li
							a(href="#")
								+fa('twitter')
						// li
							a(href="#")
								+fa('linkedin')
					.team-item__img-holder
						img.img--layout(src="img/team_4.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/team_9.jpg", alt="teammate")
					.team-item__description
						.team-item__name Betzabe Noemi Williams
						.team-item__position Vocal
				// iteam end

			.col-sm-6.col-lg-4

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="https://www.instagram.com/lanota_blog/?hl=en" target="_blank")
								+fa('instagram')
					.team-item__img-holder
						img.img--layout(src="img/team_3.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/team_3.jpg", alt="teammate")
					.team-item__description
						.team-item__name Karyn Margarita Bido del Orbe
						.team-item__position Secretaria
				// iteam end

			.col-sm-6.col-lg-4

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="https://www.instagram.com/lanota_blog/?hl=en" target="_blank")
								+fa('instagram')
					.team-item__img-holder
						img.img--layout(src="img/team_3.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/team_3.jpg", alt="teammate")
					.team-item__description
						.team-item__name Euris Alberto Capellan Tavarez
						.team-item__position Vocal
				// iteam end
			// .col-sm-6.col-lg-4.col-xl-3

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="#")
								+fa('facebook')
						li
							a(href="#")
								+fa('twitter')
						li
							a(href="#")
								+fa('youtube-play')
					.team-item__img-holder
						img.img--layout(src="img/team_6.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/team_6.jpg", alt="teammate")
					.team-item__description
						.team-item__name Lisa Chester
						.team-item__position Volunteer
				// iteam end

			// .col-sm-6.col-lg-4.col-xl-3

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="#")
								+fa('facebook')
						li
							a(href="#")
								+fa('twitter')
						li
							a(href="#")
								+fa('youtube-play')
					.team-item__img-holder
						img.img--layout(src="img/team_7.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/team_7.jpg", alt="teammate")
					.team-item__description
						.team-item__name Aisha Ten
						.team-item__position CEO
				// iteam end

			// .col-sm-6.col-lg-4.col-xl-3

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="#")
								+fa('facebook')
						li
							a(href="#")
								+fa('twitter')
						li
							a(href="#")
								+fa('youtube-play')
					.team-item__img-holder
						img.img--layout(src="img/team_8.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/team_8.jpg", alt="teammate")
					.team-item__description
						.team-item__name Jack Blumberg
						.team-item__position Volunteer
				// iteam end

		.row

			.col-12.text-center
				a.button.button--primary(href="https://forms.gle/CFhJArTQ33VxttzE7" target="_blank") Become a Member

// team end