// footer start

footer.footer
	.modalContainer 
		.container.modalContent
			img.modalClose#modalClose(src="img/close.png", alt="img")
			img.modalImg(src="img/420.png", alt="img")
			#iframe(width='768' height='500' src='img/420.png' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')


	.container
		.row

			.col-sm-6.col-lg-3

				.footer-logo
					a.footer-logo__link(href="index.html")
						img.footer-logo__img(src="img/logo_white.png", alt="logo")

				// footer socials start
				ul.footer-socials
					li.footer-socials__item
						a.footer-socials__link(href="https://www.instagram.com/cannaredrd/" target="_blank")
							+fa('instagram')
					li.footer-socials__item
						a.footer-socials__link(href="https://fb.me/cannaredrd")
							+fa('facebook')
					// li.footer-socials__item
						a.footer-socials__link(href="#")
							+fa('twitter')
					li.footer-socials__item
						a.footer-socials__link(href="https://twitter.com/cannaredrd")
							+fa('twitter')
				// footer socials end

			.col-sm-6.col-lg-3

				h4.footer__title Contactos
				.footer-contacts
					// p.footer-contacts__phone Phone: #[a(href="tel:+XXXXXXXXX") +XXX XXXX]
					p.footer-contacts__mail Email: #[a(href="mailto:cannaredrd@gmail.com") cannaredrd@gmail.com]

			.col-sm-6.col-lg-3

				h4.footer__title Menu & Links

				// footer nav start
				nav
					ul.footer-menu
						li.footer-menu__item(class=(type === "front" ? "footer-menu__item--active" : undefined))
							a.footer-menu__link(href="index.html") Home
						// li.footer-menu__item(class=(page === "blog" ? "footer-menu__item--active" : undefined))
							a.footer-menu__link(href="blog.html") Blog
						// li.footer-menu__item(class=(page === "about" ? "footer-menu__item--active" : undefined))
							a.footer-menu__link(href="about.html") About
						// li.footer-menu__item(class=(page === "contacts" ? "footer-menu__item--active" : undefined))
							a.footer-menu__link(href="contacts.html") Contacts
				// footer nav end

			.col-sm-6.col-lg-3

				h4.footer__title Apoyanos
				p Ayúdanos a cambiar la vida de miles de pacientes
				a.button.footer__button.button--filled(href='https://www.patreon.com/cannared', target="_blank") Apoyanos

		.row.align-items-baseline

			.col-md-6

				p.footer-copyright © 2021 CannaReD.

			.col-md-6

				.footer-privacy
					a.footer-privacy__link(href="#") Privacy Policy
					span.footer-privacy__divider |
					a.footer-privacy__link(href="#") Term and Condision

// footer end