extends ../layouts/primary.pug

block variables

	-var page = 'about'

	-var type = 'inner'

	-var dest = 'pages'

block header

	include ../blocks/_aside-dropdown/_aside-dropdown

	// header start
	
	header.header.header--inner
		.container-fluid
			.row.no-gutters.justify-content-between

				.col-auto.d-flex.align-items-center
					.dropdown-trigger.dropdown-trigger--inner.d-none.d-sm-block
						.dropdown-trigger__item

					.header-logo
						a.header-logo__link(href="index.html")
							img.header-logo__img(src="img/logo_dark.png", alt="logo")

				.col-auto
					include ../blocks/_main-menu/_main-menu

				.col-auto.d-flex.align-items-center

					// lang select start
					ul.lang-select.lang-select--inner
						li.lang-select__item.lang-select__item--active
							span Es
							// ul.lang-select__sub-list
								li
									a(href="#") French
								li
									a(href="#") Spanish
								li
									a(href="#") Deutsch
								li
									a(href="#") Russian
					// lang select end				

					a.dbox-donation-button.button.button--squared(href="https://donorbox.org/contribuye-redcannabica-rd" target="_blank")
						span Apoyanos

					.dropdown-trigger.dropdown-trigger--inner.d-block.d-sm-none
						.dropdown-trigger__item

	// header end

block main

	section.promo-primary(class=(dest === "elements" ? "promo-primary--elements" : undefined))

		picture
			source(srcset='img/about.jpg', media='(min-width: 992px)')
			img.img--bg(src='img/about.jpg', alt='img')

		.promo-primary__description 
			span Donation

		.container
			.row
				.col-auto
					.align-container
						.align-container__item
							span.promo-primary__pre-title RedCannabica
							h1.promo-primary__title #[span Sobre]#[br]#[span Organización]

	// about-us start

	section.section.about-us
		.container
			.row.align-items-center

				.col-lg-6.col-xl-5
					
					.img-box
						// img.img--layout(src="img/about_layout-reverse.png", alt="img")
						.img-box__img
							img.img--bg(src="img/about-us-2.jpg", alt="img")

				.col-lg-6.col-xl-6.offset-xl-1

					.heading.heading--primary
						span.heading__pre-title Sobre nosotros
						h2.heading__title #[span Por la Salud] #[span de Todos]

					p #[strong Red Cannábica es un colectivo que tiene como misión la educación, desarrollo e impulso de políticas publicas para el acceso a la planta de cannabis para uso medicinal, uso industrial, uso adulto e investigación científica en la República Dominicana.]
					p Somos una comunidad de Dominicanos que buscamos incidir en el proceso regulatorio de la cannabis en Republica Dominicana para el desarrollo y fortalecimiento de la sociedad civil.

	// about-us end

	include ../blocks/_about-us--style-2/_about-us--style-2

	include ../blocks/_video-block/_video-block

	include ../blocks/_statistics/_statistics

	include ../blocks/_team/_team

	// donors start

	section.section.donors
		.container
			.row.margin-bottom

				.col-12

					.heading.heading--primary.heading--center
						span.heading__pre-title Organizaciones
						h2.heading__title.no-margin-bottom #[span Que nos] #[span ayudan]

			.row

				.col-12

					include ../blocks/_donors-slider/_donors-slider

	// donors end

block footer

	include ../blocks/_footer/_footer