// events start

section#events.section.events

	img.events__bg(src="img/events_bg.png", alt="img")

	.container
		.row.margin-bottom

			.col-12

				.heading.heading--primary.heading--center
					span.heading__pre-title Eventos
					h2.heading__title #[span RedCannabica ] #[span te acompaña]
					p.no-margin-bottom En nuestro portal comunitario organizamos mesas de trabajos virtuales y abiertas, donde toda la comunidad puede compartir ideas, discutir diferentes temas sobre la legalización del cannabis, y colaborar para crear una propuesta legislativa que incluya a todos

		.row

			.col-md-6.col-lg-3

				a(href="http://redcannabica.info/es-ES/projects/social-impact-commission" target="_blank")
					.event-item
						.event-item__img
							img.img--bg(src="img/event_1.jpg", alt="img")
						.event-item__content
							h6.event-item__title
								a(href="http://redcannabica.info/es-ES/projects/social-impact-commission" target="_blank") Comisión de Impacto Social
							p #[b 1° Sabado ] de cada mes
							p #[b 3:00 AM - 4:00 PM,] AST

			.col-md-6.col-lg-3

				a(href="http://redcannabica.info/es-ES/projects/ethics-values-and-good-governance-committee" target="_blank")
					.event-item
						.event-item__img
							img.img--bg(src="img/event_1.jpg", alt="img")
						.event-item__content
							h6.event-item__title
								a(href="http://redcannabica.info/es-ES/projects/ethics-values-and-good-governance-committee" target="_blank") Comisión de Ética y Buen Gobierno
							p #[b 1° Sabado ] de cada mes
							p #[b 4:00 AM - 5:00 PM,] AST

			.col-md-6.col-lg-3

				a(href="http://redcannabica.info/es-ES/projects/legal-and-justice-commission" target="_blank")
					.event-item
						.event-item__img
							img.img--bg(src="img/event_2.jpg", alt="img")
						.event-item__content
							h6.event-item__title
								a(href="http://redcannabica.info/es-ES/projects/legal-and-justice-commission" target="_blank") Comisión Jurídica y de Justicia
							p #[b 2° Sabado ] de cada mes
							p #[b 3:00 AM - 4:00 PM,] AST

			.col-md-6.col-lg-3

				a(href="http://redcannabica.info/es-ES/projects/financial-economic-commission" target="_blank")
					.event-item
						.event-item__img
							img.img--bg(src="img/event_3.jpg", alt="img")
						.event-item__content
							h6.event-item__title
								a(href="http://redcannabica.info/es-ES/projects/financial-economic-commission" target="_blank") Comisión Económico Financiera
							p #[b 2° Sabado ] de cada mes
							p #[b 3:00 AM - 4:00 PM,] AST

			.col-md-6.col-lg-3

				a(href="http://redcannabica.info/es-ES/projects/communication-and-networks-commission" target="_blank")
					.event-item
						.event-item__img
							img.img--bg(src="img/event_1.jpg", alt="img")
						.event-item__content
							h6.event-item__title
								a(href="http://redcannabica.info/es-ES/projects/communication-and-networks-commission" target="_blank") Comisión de Comunicación y Redes
							p #[b 2° Sabado ] de cada mes
							p #[b 3:00 AM - 4:00 PM,] AST

			.col-md-6.col-lg-3

				a(href="http://redcannabica.info/es-ES/projects/territorial-coordination-commission" target="_blank")
					.event-item
						.event-item__img
							img.img--bg(src="img/event_1.jpg", alt="img")
						.event-item__content
							h6.event-item__title
								a(href="http://redcannabica.info/es-ES/projects/territorial-coordination-commission" target="_blank") Comisión de Coordinación Territorial
							p #[b 3° Sabado ] de cada mes
							p #[b 4:00 AM - 5:00 PM,] AST

			.col-md-6.col-lg-3

				a(href="http://redcannabica.info/es-ES/projects/education-and-culture-commission" target="_blank")
					.event-item
						.event-item__img
							img.img--bg(src="img/event_2.jpg", alt="img")
						.event-item__content
							h6.event-item__title
								a(href="http://redcannabica.info/es-ES/projects/education-and-culture-commission" target="_blank") Comisión de Educación y Cultura
							p #[b 3° Sabado ] de cada mes
							p #[b 3:00 AM - 4:00 PM,] AST

		.row

			.col-12.text-center

				a.button.button--primary(href="http://redcannabica.info/es-ES/" target="_blank") Community Platform

// events end